.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}


.footer {
    height: 50px;
}

.footer-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/assets/header/chacobache_profile.jpg') no-repeat center center;
    background-size: cover;
    margin-left: 50px;
}

  
  