<section class="inicio">
    <h2 class="content">Sobre Nosotros</h2>
    <p class="content">¡Bienvenidos al universo musical de Chacobache! 
        Producción Musical en Vivo
         Somos un grupo de compositores, arreglistas e instrumentistas con una especialización única: las bandas
         sonoras de cine, series, animación japonesa, videojuegos... Nos sumergimos en la magia de
         la música, reinterpretando los mejores temas para darles un color nuevo y personal.
         Queremos que explores con nosotros las emociones y la creatividad detrás de las
         melodías que han marcado la historia del entretenimiento. 
        ¡Una experiencia sonora única</p>
</section>