<div class="header d-flex justify-content-between align-items-center p-3">
    <div class="d-flex col align-items-center">
        <div class="logo-circle"></div>
        <div class="ms-3">
            <!--<h1 class="text-white">CHACOBACHE</h1> -->
            <p class="subtitle text-black mb-0">Producción Musical</p>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn btn-secondary me-2">Compartir</button>
        <img src="/assets/qrcode.png" class="qr-code">
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/inicio']">Inicio</a>
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/integrantes']">Nuestros integrantes</a>
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/eventos']">Eventos</a>
        </div>
    </div>
</nav>