<div class="menu-container">
    <h1>Página de Administrador</h1>
    <h2>Selecciona una entidad:</h2>
    <div class="menu-buttons">
      <!-- Botón Eventos -->
      <button mat-raised-button class="menu-button" (click)="navigateTo('eventos')">
        Eventos
      </button>
      <!-- Botón Artículo del Blog -->
      <button mat-raised-button class="menu-button" (click)="navigateTo('blog')">
        Artículo del Blog
      </button>
      <!-- Botón Multimedia -->
      <button mat-raised-button class="menu-button" (click)="navigateTo('multimedia')">
        Multimedia
      </button>
      <!-- Botón Preguntas y Respuestas -->
      <button mat-raised-button class="menu-button" (click)="navigateTo('faq')">
        Preguntas y Respuestas
      </button>
    </div>
  </div>
  