body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
}
  