<section class="inicio">
    <h2 class="content">Nuestros servicios</h2>
    <section id="conciertos">
        <h3 class="letra_servicio">Conciertos</h3>
        <p class="content">Te invitamos a compartir actuaciones inmersivas donde la música
            cobra vida. Nuestra pasión se refleja en cada nota, creando un espacio
            emocionante para que disfrutes de una experiencia irrepetible.</p>
    </section>
    <section id="conciertos_personalizados">
        <h3 class="letra_servicio">Conciertos "personalizados"</h3>
        <p class="content">Diseñamos conciertos a medida para adaptarnos a tus gustos y
            preferencias. Desde el repertorio hasta el estilo interpretativo, cada
            detalle se adecúa para garantizar una vivencia musical única y
            significativa.</p>
    </section>
    <section id="conciertos_comentados">
        <h3 class="letra_servicio">Conciertos comentados ocio-culturales</h3>
        <p class="content">Explora la música de una manera relajada y amena con nuestros
            conciertos comentados. Te guiaremos a través de cada composición,
            compartiendo detalles para crear una experiencia ocio-cultural de
            manera cercana y accesible.</p>
    </section>
    <section id="composicion_arreglo">
        <h3 class="letra_servicio">Composición y arreglo</h3>
        <p class="content">Más allá de las interpretaciones, ofrecemos servicios de composición y
            arreglo musical. Si buscas una pieza original o adaptaciones
            personalizadas, trabajamos para dar forma a tus ideas musicales.</p>
    </section>
</section>