<div class="container mt-5">
    <h1 class="text-center">Galería de nuestros conciertos en vivo</h1>
    <!-- Por cada evento, si tiene material multimedia, se muestra-->
    @if (eventosPasados.length == 0) {
        <h2 class="text-center">Pronto desvelaremos recuerdos de nuestros eventos</h2>
    }
    @for (evento of eventosPasados; track $index) {
    <div class="multimedia-evento mt-5">
        <!-- Título del evento -->
        <h2 class="text-center">{{evento.lugar}} - {{evento.fecha | date}}</h2>
    
        <!-- Imagen principal seleccionada -->
        @if(tipoSelectedImage == 'imagen') { 
            <div id="selected-image-container" class="d-flex justify-content-center mt-4">
                <img #selectedImageElement id="selected-image" class="img-fluid fade-in" alt="Imagen seleccionada">
            </div>
        }
        @if(tipoSelectedImage == 'video') {
            <p id="selected-image-container" class="d-flex justify-content-center mt-4">
                <iframe #selectedImageElement width="560" height="315" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>

            <!--
            <div id="selected-image-container" class="d-flex justify-content-center mt-4 row">
                <video controls class="video-fluid">
                    <source #selectedImageElement type="video/mp4">
                    Tu navegador no soporta videos HTML5.
                </video>
                <p>{{ selectedImage.descripcion }}</p>
            </div>
            -->
        }
    
        <!-- Carousel de miniaturas -->
        <div id="carouselThumbnails" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @for (thumbnail of thumbnails; track $index) {
                            <div class="col-md-3">
                                <img [src]="thumbnail.enlace" class="d-block w-100 img-thumbnail clickable"
                                    [attr.data-full-image]="thumbnail.enlace"
                                    (click)="onThumbnailClick(thumbnail)"
                                    [alt]="thumbnail.descripcion">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
  