<div class="container-fluid content-wrapper p-20 mt-5">
    <div class="card mb-3" style="max-width: auto; margin-inline: 17%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/profiles/carlos_perfil.PNG" class="img-fluid rounded-start" style="max-width: 100%;" alt="Carlos José Ávila">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Carlos José Ávila Barbero</h5>
                <p class="card-text">Socio fundador de Chacobache. Músico y compositor de Granada. Cursé mis estudios en el Conservatorio
                    Profesional de Música Ángel Barrios, Royal Conservatoire of Scotland  Conservatorio Superior de
                    Música de Córdoba, obteniendo el Grado Superior en Interpretación de Violonchelo.</p>
                <p class="card-text">Mi experiencia incluye colaboraciones con la Banda Sinfónica de Córdoba, Orquesta de Córdoba, la
                    Orquesta Sinfónica Ciudad de Atarfe, la Scottish Opera y la Orquesta Joven de Andalucía, llegando a
                    ocupar el primer puesto de sección.</p>
                <p class="card-text">Además, exploré la música de cámara en tríos y cuartetos, recibiendo reconocimiento por mis
                    actuaciones. Actualmente, también comparto mi experiencia como profesor, transmitiendo mis
                    conocimientos y pasión por la música a nuevos talentos.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: auto; margin-inline: 17%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/profiles/chache_perfil.PNG" class="img-fluid rounded-start" style="max-width: 100%;" alt="Manuel Madrid Ruiz">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Manuel Madrid Ruiz</h5>
              <p class="card-text">Socio fundador de Chacobache. Músico y compositor de Úbeda. Titulado superior en Violonchelo y
                Composición por el conservatorio de Córdoba, he colaborado con orquestas como la Orquesta Joven de
                Córdoba y la Banda Sinfónica de Córdoba. Además, formo parte de grupos como el Cuarteto Atenco y el
                coro Llama de Amor Viva</p>
            <p class="card-text">Como compositor, he recibido clases de Francisco Martín Quintero y estrenado obras en el conservatorio
                de Córdoba y con el Coro Llama de Amor Viva. Actualmente, estudio Dirección de Orquesta y piano, y
                estoy realizando el Máster en Patrimonio Musical de la UNIA, centrado en música medieval y renacentista.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: auto; margin-inline: 17%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/profiles/ana_perfil.PNG" class="img-fluid rounded-start" style="max-width: 100%;" alt="Carlos José Ávila">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Ana Rodríguez García</h5>
                <p class="card-text">
                  Natural de Granada, empezó sus estudios de fagot a los nueve años en el Conservatorio Profesional de Música Ángel Barrios y más tarde realizó el Grado Superior en Interpretación de Fagot en el Conservatorio Superior de Música Victoria Eugenia de Granada. Seguidamente continuó su formación musical en el Royal Conservatoire of Scotland en Glasgow, realizando un Máster en Interpretación. Sus profesores han sido Manuel Valero, Bartolomé Mayor, Santiago Ríos, Alison Green y David Hubbard.
                </p>
                
                <p>Dentro de su experiencia orquestal, ha tocado con la Orquesta Ciudad de Granada, así como con la BBC Scottish Symphony Orchestra, Scottish Chamber Orchestra, Royal Scottish National Orchestra, la Orquesta Ciudad de Almería, la Orquesta de Córdoba, la Orquesta Filarmónica de Málaga o la Orquesta Sinfónica de Málaga. Además, ha participado en diversas academias orquestales como la Orquesta Joven de Andalucía, NJO (Joven Orquesta Nacional de Holanda) y la Academia de la OCG. Ana ha recibido clases magistrales con fagotistas de renombre como Matthias Racz, David Tomás, Joaquín Osca, Amy Harman, Joost Bosdijk o Andrea de Flammineis. En música de cámara ha sido miembro del Trío Äglae, el Cuarteto Euterpe y el cuarteto de fagotes Genovia Quartet, participando con este último en la Conferencia Internacional de la IDRS 2018 en Granada.</p>

                <p>Tras haber impartido clases en diferentes conservatorios profesionales de Andalucía, actualmente es la profesora titular de Fagot en el Conservatorio Profesional de Salamanca. Compagina la docencia con distintas actividades musicales, siendo miembro activo de Chacobache y Quinteto Glauka además de tocar en distintas formaciones orquestales.
                </p>
            </div>
          </div>
        </div>
    </div>
    <!--
    <section id="carlosJAB" class="integrante">
        <h2>Carlos José Ávila Barbero</h2>
        <div class="intro_integrante row d-flex align-items-center">
            <img class="col" src="/assets/profiles/carlos_perfil.PNG" alt="Imagen de Carlos José Ávila">
            <p class="col">Socio fundador de Chacobache. Músico y compositor de Granada. Cursé mis estudios en el Conservatorio
                Profesional de Música Ángel Barrios, Royal Conservatoire of Scotland  Conservatorio Superior de
                Música de Córdoba, obteniendo el Grado Superior en Interpretación de Violonchelo.</p>
            
            <p class="col">Mi experiencia incluye colaboraciones con la Banda Sinfónica de Córdoba, Orquesta de Córdoba, la
                Orquesta Sinfónica Ciudad de Atarfe, la Scottish Opera y la Orquesta Joven de Andalucía, llegando a
                ocupar el primer puesto de sección.</p>
    
            <p class="col">Además, exploré la música de cámara en tríos y cuartetos, recibiendo reconocimiento por mis
                actuaciones. Actualmente, también comparto mi experiencia como profesor, transmitiendo mis
                conocimientos y pasión por la música a nuevos talentos.</p>
        </div>
    </section>
    <section id="manuelMR" class="integrante">
        <h2>Manuel Madrid Ruiz</h2>
        <div class="intro_integrante row d-flex align-items-center">
            <img class="col order-2" src="/assets/profiles/chache_perfil.PNG" alt="Imagen de Manuel Madrid">
            <p class="col order-1">Socio fundador de Chacobache. Músico y compositor de Úbeda. Titulado superior en Violonchelo y
                Composición por el conservatorio de Córdoba, he colaborado con orquestas como la Orquesta Joven de
                Córdoba y la Banda Sinfónica de Córdoba. Además, formo parte de grupos como el Cuarteto Atenco y el
                coro Llama de Amor Viva</p>

            <p class="col order-3">Como compositor, he recibido clases de Francisco Martín Quintero y estrenado obras en el conservatorio
                de Córdoba y con el Coro Llama de Amor Viva. Actualmente, estudio Dirección de Orquesta y piano, y
                estoy realizando el Máster en Patrimonio Musical de la UNIA, centrado en música medieval y renacentista.</p>
        </div>
    </section>
    <section id="AnaRG" class="integrante">
        <h2>Ana Rodríguez García</h2>
        <div class="intro_integrante row d-flex">
            <div class="intro_integrante row d-flex align-items-center">
                <img class="col order-2" src="/assets/profiles/ana_perfil.PNG" alt="Imagen de Ana Rodríguez García">
                <p class="col">Granadina, inicié mis estudios de fagot a los nueve en el Conservatorio Profesional de Música Ángel Barrios. Obtuve el Grado Superior en
                    Interpretación de Fagot en el Conservatorio Superior de Música Victoria Eugenia de Granada y realicé un Máster en Interpretación en el Royal
                    Conservatoire of Scotland. He colaborado con orquestas como la Orquesta Ciudad de Granada y la BBC Scottish Symphony Orchestra. Actualmente,
                    soy profesora de Fagot en el Conservatorio Profesional de León y miembro de Chacobache y Quinteto Glauka. También interpreto en la Orquesta
                    Ciudad de Almería.</p>
            </div>
        </div>
    </section>
-->
</div>